.landing-page-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.first-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 102vh;
    background-image: url("https://i.redd.it/zjgs096khv591.jpg");
    backdrop-filter: brightness(0.7); /* Adjust the brightness of the background image */
    background-size: cover; /* Adjusts the size of the background image */
    background-repeat: no-repeat; /* Ensures the background image doesn't repeat */
    background-position: center; /* Centers the background image */
}

.first-page-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: -1; /* Ensure the overlay is behind the content and navbar */
}

.first-page-container .first-page-content {
    margin: auto;
    z-index: 1; /* Ensure the content is above the overlay */
}

.first-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.first-page-content h3 {
    font-size: 2em;
    font-weight: 700;
}

.landing-page-container hr {
    width: 100%;
    height: 0.5em;
    border: none;
    background-color: rgb(82, 80, 80);
}

.email-form {
    display: flex;
    gap: 1em;
    width: 100%;
}

.email-form input {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.671);
    border: none;
    width: 70%;
    border-radius: 10px;
    outline: 1px solid gray;
}

.email-form button {
    color: white;
    width: max-content;
    border-radius: 10px;
    padding: 5px 1em;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
}

.second-page-container {
    display: flex;
    padding: 4em 6%;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
}

.second-page-container img {
    height: 20em;
    width: auto;
    border-radius: 14px;
}

.second-page-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.second-page-info h2 {
    font-size: 3em;
}

.third-page-container {
    display: flex;
    padding: 4em 6%;
    gap: 1em    ;
    align-items: center;
    justify-content: space-between;
}

.third-page-container img {
    height: 20em;
    width: auto;
    border-radius: 14px;
}

.third-page-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.third-page-info h2 {
    font-size: 3em;
}