.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6%;
}

.navbar a {
    text-decoration: none;
}

.authBtn {
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 10px;
}

.navbar h1 img {
    height: 4em;
}